body,
h1,
form,
input,
button,
img,
p,
span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

header {
    background: #d1e8e7;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: mediumslateblue;
    padding: 20px;
    text-align: center;
}

.div__form {
    padding: 20px;
    text-align: center;
}

.div__form form {
    display: flex;
    justify-content: center;
}

.div__form input {
    padding: 8px;
    border: 1px solid black;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.div__form input:focus {
    outline: none;
}

.div__form button {
    border: 1px solid black;
    border-left: none;
    background: mediumslateblue;
    color: #fff;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
}

.div__form button:hover {
    opacity: 0.8;
}

.div__form a {
    padding: 5px;
    width: 245px;
    display: inline-block;
    border: 1px solid black;
    border-top: none;
    background: mediumslateblue;
    color: #fff;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.div__form a:hover {
    opacity: 0.8;
}

.div__weather {
    margin: 30px auto;
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 500px;
    background: #dae0f2;
    border-radius: 5px;
}

.div__weather__img img {
    width: 50px;
    margin: 0 35px;
}
